* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}

html,
body {
    /* background-image: linear-gradient(90deg, #7d5fff, #7158e2); */
    background-color: #7158e2;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.search {
    position: relative;
    height: 50px;
}

.search .input {
    background-color: #fff;
    border: 0;
    font-size: 18px;
    padding: 15px;
    height: 50px;
    width: 50px;
    transition: width 0.3s ease-in-out;
}

.btn {
    background-color: #fff;
    border: 0;
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    transition: transform 0.3s ease-in-out;
}

.btn:focus,
input:focus {
    outline: none;
}

.search.active .input {
    width: 248px;
}

.search.active .btn {
    transform: translateX(198px);
}

a:link,
a:visited,
a:hover,
a:active {
    color: #fff;
    text-decoration: none;
}

.backlink {
    position: absolute;
    top: 20px;
    left: 40px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
    /* background-color: rgba(255, 255, 255, 0.5); */
    z-index: 1;
}